
*{
    text-decoration: none;
    transition: .2s linear;
}

/*this takes care of the top part of the website, the header/navigation bar*/
.header {
    background-color: #7a5281;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1.25rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
    font-size: 3.5rem;
    color: #000000;
    font-weight: bolder;
}
.header .navibar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #302631;
}

.header .navibar a:hover {
    color: var(--purple);
}

.container {
    margin: 0 auto; /* Center the box horizontally */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgba(16, 27, 17, 0.5);
    font-size: 14px;
    width: 900px;
    color: black;
}
